
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style-type: none;
    text-decoration: none;
    line-height: 1.3;
}
body,html{
    font-family: "Roboto", sans-serif;
}
/* custom colors */
:root{
    --primary-color:#da2415;
    --secondary-color:#fff;
    --black-color:#000;
    --grey-color:#c3c3c3;
    --light-grey-color:#c3c3c3
}

/* custom rules */
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.btn{
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);

}

.btn:hover {
    border: 1px solid var(--primary-color);
    background: var(--secondary-color);
    border-radius: 5px;}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}